[Unit]
Description=DKG Full Node

[Service]
User=dkg
Group=dkg
WorkingDirectory={{ dkg_user_home }}
ExecStart={{ dkg_bin }} \
  --base-path {{ chain_data_dir }} \
  --chain "{{ ansible_env.HOME }}/dkg-substrate/chainspecs/arana_testnet_raw.json" \
  --port 30333 \
  --ws-port 9944 \
  --ws-external \
  --no-mdns  \
  --rpc-port 9933 \
  --rpc-external \
  --node-key-file {{ node_key_priv_file }} \
  {% for peer in peers -%}
  --reserved-nodes /ip4/{{ peer }}/tcp/30333/p2p/{{ hostvars[peer].ansible_local.substrate.dkg.public_key }} \
  {% endfor -%}
  --reserved-only \
  --pruning archive \
  --ws-max-connections 1000 \
  --rpc-cors=all
