[Unit]
Description=Tangle Validator Node

[Service]
User=tangle
Group=tangle
WorkingDirectory={{ tangle_user_home }}
ExecStart={{ tangle_bin }} \
  --base-path {{ chain_data_dir }} \
  --name <NODE-NAME> \
  --chain "{{ ansible_env.HOME }}/tangle/chainspecs/arana-local.json" \
  --port 30333 \
  --ws-port 9944 \
  --rpc-port 9933 \
  --validator \
  --node-key-file {{ node_key_priv_file }} \
  {% for peer in peers -%}
  --reserved-nodes /ip4/{{ peer }}/tcp/30333/p2p/{{ hostvars[peer].ansible_local.substrate.tangle.public_key }} \
  {% endfor -%}
  --no-mdns